body
{
	margin:0;
	background-color:#262626;
}

#container
{
	width:100vw;
	height:100vh;
}

#myCanvas
{
	background-color:#333333;
	
	position: absolute;
	
	margin:auto;

	top:0;
    bottom:0;
    left:0;
    right:0;
	
	outline: #00cc00 dashed thick;	
}